node_modules/
assets/_MACOSX
assets/sounds - Copy/error.wav
assets/sounds - Copy/level-passed.mp3
assets/sounds - Copy/simonSound1.mp3
assets/sounds - Copy/simonSound2.mp3
assets/sounds - Copy/simonSound3.mp3
assets/sounds - Copy/simonSound4.mp3
