$theme-default: (
    'bg-color': #142944,
    'text-color': #fff, 
    'yellow-contrast': #ffff00
);

$game-palette: (
    'green': #3aca4a,
    'red': #fd433e,
    'yellow': #feda30,
    'blue': #1277d6
);

$border-radius: 15px;